/* *********************GLOBAL STYLING *************** */
@import url("");
* {
  box-sizing: border-box;
  --background: #5a189a;
}

#container {
  display: flex;
  position: relative;
}

.active {
  background-color: var(--background);
  color: white;
}

#content h1 {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 16px;
  font-weight: 800;
  max-width: 506px;
  margin-top: 64px;
}
#content {
  margin-right: 30px;
}
#content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 300px;
}

#content p,
#content h2,
.codearea {
  margin-bottom: 10px;
}

#content h2 {
  font-size: 20px;
  margin-top: 20px;
}
.aside {
  margin-right: 9.03%;
  background-color: #ececec;
  max-width: 390px;
  box-sizing: border-box;
  padding-left: 96px;
  position: relative;
}

.aside a {
  display: block;
  height: 44px;
  width: 294px;
  padding: 10px;
  font-size: 20px;
}

#mobileaside {
  display: none;
}

.asidehamburger,
.closeasidemenu {
  display: none;
}

.closeasidemenu {
  position: absolute;
  left: 15px;
  top: 15px;
  transform: scale(1.4);
}


.tableofcontent {
  margin-top: 54px;
}

/* ************************** CODE-LIKE SECTIONS ***************** */
.blue {
  color: rgb(37, 37, 247);
}
.brown {
  color: brown;
}
.cloud {
  color: royalblue;
}
.grey {
  color: rgb(126, 126, 126, 0.8);
}
.gold {
  color: goldenrod;
}
.codearea {
  background-color: black;
  color: white;
  padding-block: 20px;
  padding-left: 10px;
}

/***************************INTERACTION SECTION************************** */
#interaction {
  width: 100%;
}

#interaction p {
  display: flex;
  align-items: center;
}

#interaction p img {
  margin-inline: 10px;
}

/* Pop-up input/comment section */
textarea {
  resize: none;
  border-radius: 8px;
  min-width: 100%;
  max-height: 192px;
  padding: 15px;
  border: none;
  outline: 2px solid #d9d9d9;
  margin-bottom: 16px;
  font-weight: 500;
}

textarea::placeholder {
  color: #d9d9d9;
}
.submit,
.cancel {
  font-size: 20px;
  line-height: 32px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
.submit {
  background-color: var(--background);
  color: white;
}

.submit:hover {
  color: var(--background);
  background-color: white;
  border: 2px solid var(--background);
  padding: 10px 20px;
}

.cancel {
  color: var(--background);
  background-color: white;
  border: 2px solid var(--background);
  padding: 10px 20px;
}

.cancel:hover {
  background-color: var(--background);
  color: white;
}

.submitandcancel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .aside {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    padding-bottom: 200px;
    width: fit-content;
  }

  .aside a {
    width: 100%;
  }

  .aside img {
    width: 15px;
    height: 15px;
  }

  .asidehamburger {
    display: block;
    position: absolute;
    top: 40px;
    left: 15px;
    width: 40px;
    height: 30px;
  }

  #content {
    margin-right: 20px;
    margin-left: 20px;
  }






}

.display {
  display: block;
}
