@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  
}

body{
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  line-height: 24px;
  padding-inline: 2vw;
  padding-block: 15px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}


.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headercontainer a img {
  width: 10vw;
  max-width: 105px;
  min-width: 90px;
  height: 60px;
  margin-left: 4vw;
  flex: 1;
}

.headercontainer a{
  margin-inline: 1vw;
}

#anibry-header-logo:focus, #anibry-header-logo:active{
  outline: none;
}

.headercontainer .navmenu{
  flex: 5;
  justify-content: flex-end;
}
.navmenu a{
  font-weight: 600;
}
.navmenu a:hover{
  color: #5A189A;
}
 .navmenu a:focus, .navmenu a:active{
  color: #5A189A;
}
.innernav{
  display: flex;
  justify-content: flex-end;
  margin-right: 7vw;
}
.hamburger{
  display: none;
}
.headercontainer .profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.headercontainer .profile img {
  max-width: 50px;
  max-height: 50px;
  margin: 0;
  border-radius: 50%;
}
.headercontainer .profile .icondown {
  max-width: 14.56px;
  max-height: 6.73px;
  margin-left: 5px;
}

footer {
  padding-bottom: 100px;
  width: 100%;
  border-radius: 0px;
  background-color: #5A189A;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 50px 96px;
  gap: 10px;
  flex-shrink: 1;
  line-height: 24px;
}

.footerColumnsContainer {
  display: flex;
}
.footerColumnsContainer a {
  padding-bottom: 10px;
}

.footerCol {
  display: flex;
  flex-direction: column;
}
.footerCol .heading {
  margin-bottom: 30px;
}

.footerCol1 {
  width: 24%;
  margin-bottom: 140px;
  margin-right: 20%;
}
.footerCol1 img {
  margin-bottom: 32px;
}

.footerCol2, .footerCol3, .footerCol4 {
  width: 25%;
  margin-right: 24px;
}

.closediv{
  display: none;
}

.headerdropdown{
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  flex-direction: column;
  width: 230px;
  height: 300px;
  right: 50px;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0px 3px 5px black;
  z-index: 100;
}
.logout{
  color: red;
}
.gettingstarted{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.icondown{
  cursor: pointer;
}
.profileindropdown{
  display: flex;
  font-weight: 700;
}
.profileindropdown img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profileindropdown a, p{
  font-size: 14px;
}
.profileindropdown a{
  color: #5A189A;
}

@media screen and (max-width:900px) {
  footer{
    padding-left: 20px;
  }
  .copyright{
    text-align: center;
  }
  .footerCol .heading {
  margin-bottom: 0px;
  font-weight: 400;
}

  .footerColumnsContainer{
  flex-direction: column;
  margin: 0 auto;
}

  .footerCol{
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
  }
  .footerCol1{
    flex-direction: row;
    justify-content: space-between;
  }


  .footerCol2, .footerCol3, .footerCol4{
    flex-direction: row;
    margin-right: 0;
  }

  .footerCol a{
    margin-bottom: 0;
    margin-right: 10px;
    flex-wrap: wrap;
  }

    header{
    padding-inline: 0px;
    padding-block: 9px;
  }
  .headercontainer{
    display: flex;
    justify-content: space-between;
  }

  .headercontainer > img{
    margin-left: 10px;
    justify-self: flex-start;
  }
  .headercontainer .profile{
    margin-inline: 0px;
    justify-self: flex-end;
    padding-right: 20px;

  }
  .hamburger{
    display: inline;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
  }
  .hamburger img{
    width: 30px;
    height: 30px;
  }

  .innernav{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 20px;
    height: 100%;
    top: 0;
    right: 0;
    width: 45vw;
    background-color: #5A189A;
    font-weight: 600;
    z-index: 150;
    color: white;
    margin-right: 0;
  }
  .innernav a{
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
  }
  .innernav a:hover{
    color: antiquewhite;
  }
  .closediv{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    cursor: pointer;
  }
  .closediv img{
    max-width: 40px;
    height: 30px;
  }
  .headercontainer img{
    margin-right: 0;
  }
  .headercontainer > img{
    max-width: 100px;
    height: 40px;
  }
  .headercontainer .profile{
    align-items: center;
}

@media screen and (max-width:450px) {
  .headercontainer .profile img{
    max-width: 45px;
    max-height: 45px;
  }
}
}
.displayflex{
  display: flex;
}