@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  position: relative;
  line-height: 24px;
  padding-inline: 2vw;
  padding-block: 15px;
  width: 100vw;
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headercontainer img {
  width: 105px;
  height: 60px;
  margin-right: 4vw;
  flex: 1;
}

.headercontainer a{
  margin-inline: 1vw;
}
.headercontainer .navmenu{
  flex: 5;
}
.hamburger{
  display: none;
}
.headercontainer .profile {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-items: center;
  flex: 1;
}
.headercontainer .profile img {
  max-width: 40px;
  max-height: 40px;
  margin: 0;
  border-radius: 50%;
}
.headercontainer .profile .icondown {
  max-width: 10.56px;
  max-height: 4.73px;
}

footer {
  padding-bottom: 100px;
  width: 100%;
  border-radius: 0px;
  background-color: #5A189A;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 50px 96px;
  gap: 10px;
  flex-shrink: 1;
  line-height: 24px;
}

.footerColumnsContainer {
  display: flex;
}
.footerColumnsContainer a {
  padding-bottom: 10px;
}

.footerCol {
  display: flex;
  flex-direction: column;
}
.footerCol .heading {
  margin-bottom: 30px;
}

.footerCol1 {
  width: 24%;
  margin-bottom: 140px;
  margin-right: 20%;
}
.footerCol1 img {
  margin-bottom: 32px;
}

.footerCol2, .footerCol3, .footerCol4 {
  width: 25%;
  margin-right: 24px;
}

.close{
  display: none;
}

.headerdropdown{
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  flex-direction: column;
  width: 230px;
  height: 300px;
  right: 50px;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0px 3px 5px black;
  z-index: 4;
}
.logout{
  color: red;
}
.gettingstarted{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.icondown{
  cursor: pointer;
}
.profileindropdown{
  display: flex;
  font-weight: 700;
}
.profileindropdown img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profileindropdown a, p{
  font-size: 14px;
}
.profileindropdown a{
  color: #5A189A;
}
@media screen and (max-width:900px) {
  footer{
    padding-left: 20px;
  }
  .copyright{
    text-align: center;
  }
  .footerCol .heading {
  margin-bottom: 0px;
  font-weight: 400;
}

  .footerColumnsContainer{
  flex-direction: column;
  margin: 0 auto;
}

  .footerCol{
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
  }
  .footerCol1{
    flex-direction: row;
    justify-content: space-between;
  }


  .footerCol2, .footerCol3, .footerCol4{
    flex-direction: row;
    margin-right: 0;
  }

  .footerCol a{
    margin-bottom: 0;
    margin-right: 10px;
    flex-wrap: wrap;
  }

    header{
    padding-inline: 0px;
    padding-block: 9px;
  }
  .headercontainer{
    display: flex;
    justify-content: space-between;
  }

  .headercontainer > img{
    margin-left: 10px;
    justify-self: flex-start;
  }
  .headercontainer .profile{
    margin-inline: 0px;
    justify-self: flex-end;
  }
  .hamburger{
    display: inline;
    width: 30px;
    height: 30px;
  }
  .hamburger img{
    width: 30px;
    height: 30px;
  }

  .navmenu{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    top: 0;
    right: 0;
    width: 45vw;
    background-color: #5A189A;
    font-weight: 600;
    height: 100%;
    z-index: 3;
    color: white;
  }
  .navmenu a{
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
  }
  .close{
    float: right;
    display: block;
    max-width: 30px;
    height: 20px;
    margin-right: 20px;
  }
  .headercontainer img{
    margin-right: 0;
  }
  .headercontainer > img{
    max-width: 100px;
    height: 40px;
  }
  .headercontainer .profile{
    max-width: 160px;
    gap: 1.5vw;
    align-items: center;
}
}
.displayflex{
  display: flex;
}