*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "inter";
}
button{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section1{
    display: flex;
}

.box1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    justify-content: space-evenly;
    

}
.innerbox{
        width: 80%;

}
h1{
    font-size: 56px;
    font-weight: 700;
}
.box2{
    flex: 1;
}
button {
  width: 294px;
  min-width: 150px;
  min-height: 56px;
  font-weight: 700;
  padding: 16px 24px;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #5a189a;
  border-radius: 8px;
  margin-top: 30px;
  outline: none;
  border: none;
}
button a {
  text-decoration: none;
  color: inherit;
}

.complogos{
    width: 80%;
    height: 80%;
    align-self: center;
}
main> img{
    width: 100%;
    height: 100%;
    align-self: center;
}

main>p{
    font-size: 20px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 32px;
    color: #5a189a;
    font-weight: 700;
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.items1, .items2{
    display: flex;

    
}
.items1 div, .items2 div{
    width: 200px;
    height: 150px;
    margin: 0 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.items1 img, .items2 img{
    width: 70px;
    height: 70px;
    background-color: white;
}

.slide img{
    width: 150px;
}

main .viewlibrary{
    margin-bottom: 50px;
margin-right: 280px;
margin-top: 30px;
}
.viewlibrary a{
    color: #5a189a;
    font-size: 20px;
    align-self: flex-end;
    
    font-weight: 700;
    
    
    text-decoration: none;
}
.bigImge{
    width: 100%;
    height: 100%;
}
.bigImge img{
    width: 100%;
}

main>h2{
    margin: 20px 0;
}
main > h1{
    font-size: 45px;
}

main .faq{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.faq a{
    font-size: 16px;
    padding: 17px;
    box-shadow: 0px 3.5px 8px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 700;
}
.faq p{
    margin-bottom: 10px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.faq a::after{
    content: "+";
    color: grey;
    height: 30px;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.newsletter{
    width: 80%;
    margin-block: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 15px;
}
label{
    font-size: 30px;
    font-weight: 700;
}
.newsletter .input{
    width: 100%;
}
.newsletter input{
    width: 50%;
    padding-block: 15px;
    padding-inline: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid grey;
    height: 59px;
    margin-inline: 0;
}

.newsletter input:active, .newsletter input:focus{
     outline: 1px #5a189a solid;
}
.newsletter .submit{
    width: 119px;
    height: 59px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin-inline: 0;

  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background-color: #5a189a;
  border-radius: 5px;
  outline: none;
  border: none;
}