* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
  /*main div {
    text-align: left;
    margin: 2px;
    justify-content: space-between;
  }*/
  body {
    background-color: #ffffff;
  }
  
  
  
  
  .box {
    max-width: 100%;
    padding: 0 20px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    height: auto;
    width: auto;
    align-content: space-between;
  }
  .fa {
    position: absolute;
    margin: 8px 0px;
    left: 21pc;
    
  }
  #fa{display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
    position: absolute;
    left:16pc;
    
  
  }
  #icon{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
    position: absolute;
    left:16pc
  
  
  }
  .eye {
    position: absolute;
    left: 16pc;
    margin: 14px 0px;
  }
 
  #purp{color: #8c3adb;}
  
  .right-box {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    max-width: 50%;
    padding: 0 10px;
    color: #80558c;
    align-content: space-around;
  }
  
 
  .left-box {
    display: flex;
    flex-direction: column;
    margin-inline: 3px;
    width: 50%;
    padding: 0 10px;
  }
  
  #forgotp{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    margin-left: 1.2pc;
    /* Fullname */
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-transform: capitalize;
  
    /* Black- Text Color */
    color: #16161D;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

form button a{
  color: white;
}
  form button,
  form input,
  .zuri {
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    color: white;
  }
  .left-box svg {
    position: absolute;
    margin: 5px 5px;
    left: 20.72%;
    right: 47.14%;
    top: 2vh;
    bottom: 52.31%;
    max-width: 90%;
    max-height: 60%;
    border-radius: 20%;
  }
  .left-box h2 {
    /* Create an account */
  
    /* Heading 2 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    /* identical to box height, or 150% */
  
    /* Primary Purple */
    color: #5a189a;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .left-box p {
    /* Fullname */
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 0;
    /* Fullname */
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-transform: capitalize;
  
    /* Black- Text Color */
    color: #16161d;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  
  }
  #lol {
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #16161D;
  }
  #joy {
    text-align: left;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #16161D;
  }
  a {
    text-decoration-color: #5a189a;
  }

  #forgot{
    padding: 20px;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4rem;
  }

  #forgotp{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    margin-left: 1.2pc;
    /*to align the h2 of forgot.html */
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    text-transform: capitalize;
    color: #16161d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  a {
    text-decoration: none;
    color: #5A189A;
  }

  a:visited {
    color: #5a189a;
    text-decoration: none;
  }
  a:hover {
    color: #5A189A;
    text-decoration: none;
  }
  a:active {
    color: #5A189A;
    text-decoration: none;
  }


  .zuri {
    padding: 20px 50px;
    color: #80558c;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border: none;
    height: auto;
  }
  button {
    cursor: pointer;
  }

  #hideeye, #openeye {
    position: absolute;
    top: 15px;
    left: 87%;
    color:  #BBBBBB;
  }
  
  .inputs{
    position: relative;
    width: 100%;
}
  form {
    border: none;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  
  form input {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 24px;
    size: 16px;
    padding: 15px;
    border: 1px solid #5a189a;
    border-color: #5A189A;
    color: #3C3C3C;
  }
  form input:active{
    border: 1px solid #5a189a;
  }

 
  h2{
    margin-top: 30px;
  }
  form button a{
    color: white;
  }
  form input:placeholder-shown{
    color: #BBBBBB;
    text-align: left;
  }
  ::placeholder {
    color: #BBBBBB;
    opacity: 1;
    text-align: left; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #BBBBBB;text-align: left;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #BBBBBB;text-align: left;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #5a189a;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 2px solid #80558c;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #5a189a;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
  }
  
  input[type=email]:focus {
    border: 2px solid #80558c;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #5a189a;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
  }
  
  input[type=text], 
          input[type=password] { 
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #5a189a;
            -webkit-transition: 0.1s;
            transition: 0.1s;
            outline: none;
          } 
  
  form button {
    background-color: #5a189a;
    color: white;
    border: none;
    padding: 20px;
    font-size: 16px;
    margin: 15px 0;
  }
  form button:hover {
    background-color: #DBBAFC;
    color: #5a189a;
  }
  form button:hover a{
    color: #5a189a;
  }
  
  form button:active {
    background-color: #8C3ADB;
    transition: 0s;
  }
  form button:disabled {
    background-color: #C9C5CC;
    transition: 0s;
  
  }
  

  
  @media only screen and (max-width: 768px) {
    .box {
      flex-direction: column;
    }
  
    .left-box, .right-box{
      width: 100%;
      max-width: 100%;
    }
  
    form{
      margin-bottom: 0;
      margin-left: 0;
      width: 95%;
    }
  
    .left-box h2{
      font-size: 40px;
      margin-left: 1pc;
    }
    .left-box svg{
    margin: 3px 3px;
    left: 38.72%;
    right: 47.14%;
    top: 6%;
    bottom: 46.31%;
    }
    .right-box h2{
      font-size: 28px;
      margin-left: 2pc;
    }
    .right-box img{
      width: 100%;
    }
    
  }

  @media screen and (max-width:450px) {
    form{
      width:100%;
    }
    .right-box{
      display: none;
    }
  }