@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: #FFFFFF;
    
   /* display: flex;
   justify-content: center; */
   font-family: 'Inter';
   
}

.container{
    width: 80%;
    margin: 0 auto;
}



.team-ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: baseline;
    padding: 1rem 0 3rem 0;
}

.team-ctn p{
    padding: 0;
    
}

h1{
    font-size: 64px;
    line-height: 96px;
    
}

h3{
    font-size: 32px;
    padding: 1rem 0;
}

h3, h5 {
    line-height: 32px;
}

p{
    line-height: 24px;
    padding: 1rem 0;
}

h5{
    font-size: 20px;
}


.lower_picture{
    display: flex;
    width: 100%;
}

.team_ctn img{
    width: 30vw;
    max-width: 270px;
    height: 30vw;
    padding-bottom: 10px;
}
.team_picture{
    max-width: 270px;
}
small{
    color: #5A189A;
}

small img{
    width: 8px;
}

@media (max-width:786px) {
    .container{
        width: 85%;
        margin: 0 auto;
    }
    
    .lower_picture{
        display: none;
        width: 100%;
    }
}

@media (max-width:463px) {
    .team-ctn{
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        flex-wrap: nowrap;
        
    }
    .team-ctn img{
        width: 35vw;
        height: 35vw;
        object-fit: cover;
    }
    .team-ctn h5{
        font-size: max(14px, 3vw);
        line-height: 18px;
    }
    .team-ctn p{
        font-size: 12px;
        line-height: 18px;
    }
}


