@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: #FFFFFF;
    
   /* display: flex;
   justify-content: center; */
   font-family: 'Inter';
   
}

.container{
    width: 60%;
    margin: 0 auto;
}



.team-ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: baseline;
    padding: 1rem 0 3rem 0;
}

.team-ctn p{
    padding: 0;
    
}

h1{
    font-size: 64px;
    line-height: 96px;
    
}

h3{
    font-size: 32px;
    padding: 1rem 0;
}

h3, h5 {
    line-height: 32px;
}

p{
    line-height: 24px;
    padding: 1rem 0;
}

h5{
    font-size: 20px;
}

.team-ctn img{
    width: 100%;
    max-width: 188px;
    padding-bottom: 10px;
}

.lower_picture{
    display: flex;
    width: 100%;
}

img{
    width: 100%;
    max-width: 270px;
}
small{
    color: #5A189A;
}

small img{
    width: 8px;
}

@media (max-width:786px) {
    .container{
        width: 85%;
        margin: 0 auto;
    }
}

@media (max-width:460px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
}


