@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  line-height: 24px;
  padding-right: 6.8402777778%;
  padding-left: 98.5px;
  padding-block: 15px;
  width: 100%;
}

.headercontainer {
  display: flex;
  align-items: center;
}
.headercontainer ul {
  display: flex;
}
.headercontainer li {
  margin-right: 2.5em;
}
.headercontainer img {
  width: 105px;
  height: 60px;
  margin-right: 20.8333333333%;
}
.headercontainer .profile {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-items: center;
  margin-left: 4.8611111111%;
}
.headercontainer .profile img {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
}
.headercontainer .profile .icondown {
  width: 10.56px;
  height: 4.73px;
}

footer {
  padding-bottom: 100px;
  width: 100%;
  border-radius: 0px;
  background-color: #5A189A;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 50px 96px;
  gap: 10px;
  flex-shrink: 1;
  line-height: 24px;
}

.footerColumnsContainer {
  display: flex;
}
.footerColumnsContainer a {
  padding-bottom: 10px;
}

.footerCol {
  display: flex;
  flex-direction: column;
}
.footerCol .heading {
  margin-bottom: 30px;
}

.footerCol1 {
  width: 24%;
  margin-bottom: 140px;
  margin-right: 20%;
}
.footerCol1 img {
  margin-bottom: 32px;
}

.footerCol2, .footerCol3, .footerCol4 {
  width: 25%;
  margin-right: 24px;
}


@media screen and (max-width:900px) {

  /* HEADER */



  /* FOOTER */

  footer{
    padding-left: 20px;
  }
  .copyright{
    text-align: center;
  }
  .footerCol .heading {
  margin-bottom: 0px;
  font-weight: 400;
}

  .footerColumnsContainer{
  flex-direction: column;
}

  .footerCol{
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
  }
  .footerCol1{
    flex-direction: row;
    justify-content: space-between;
  }


  .footerCol2, .footerCol3, .footerCol4{
    flex-direction: row;
    margin-right: 0;
  }

  .footerCol a{
    margin-bottom: 0;
    margin-right: 10px;
    flex-wrap: wrap;
  }

}
