* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/*main div {
    text-align: left;
    margin: 2px;
    justify-content: space-between;
  }*/
body {
  background-color: #ffffff;
}

.box {
  max-width: 100%;
  padding: 0 20px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#icon {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  position: absolute;
  left: 16pc;
}

#purp {
  color: #8c3adb;
}
.anime {
  max-width: 250px;
  max-height: 300px;
}
.anime2 {
  max-width: 200px;
  max-height: 300px;
}
.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  width: 45%;
  max-width: 50%;
  padding: 0 10px;
}

.right-box h2 {
  /* Welcome to Anibry */

  /* Sub- heading 2 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  /* Primary Purple */
  color: #5a189a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: flex-start;
}

.right-box p {
  /* Anibry is an animation library with a simple, but powerful API. Create an account to get access. */

  /* Sub-heading 3 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  /* Middle Grey */
  color: #16161D;

  /* Inside auto layout */
}

.left-box {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  width: 50%;
  max-width: 700px;
  padding: 0 10px;
}

form button,
form input,
.zuri {
  border-radius: 10px;
  font-weight: 600;
  width: 100%;
  color: #5a189a;
}
.left-box svg {
  position: absolute;
  margin: 5px 5px;
  left: 20.72%;
  right: 47.14%;
  top: 4vh;
  bottom: 52.31%;
  max-width: 90%;
  max-height: 60%;
  border-radius: 20%;
}
.left-box h2 {
  /* Create an account */

  /* Heading 2 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  text-align: center;
  /* identical to box height, or 150% */

  /* Primary Purple */
  color: #5a189a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.left-box p {
  /* Fullname */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-left: 0;
  /* Fullname */
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Black- Text Color */
  color: #16161d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#lol {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #16161D;
}
#joy {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #16161D;
}
a {
  color: #5a189a;
  text-decoration: none;
}

a:visited {
  color: #5a189a;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #80558c;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #5A189A;
  background-color: transparent;
  text-decoration: none;}

button {
  cursor: pointer;
}

.inputs{
  position: relative;
  width: 100%;
}

#hideeye, #openeye {
  position: absolute;
  top: 27px;
  right: 5%;
  color:  #BBBBBB;
}

form {
  padding: 20px;
  border: none;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 4rem;
}

form input {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 24px;
  size: 16px;
  padding: 15px;

  border: 1px solid #5a189a;
  border-color: #5a189a;
  cursor: pointer;
  color: #3c3c3c;
}
form input:active {
  border: 1px solid #5a189a;
}
form input:placeholder-shown {
  color: #bbbbbb;
  text-align: left;
}
::placeholder {
  color: #bbbbbb;
  opacity: 1;
  text-align: left; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bbbbbb;
  text-align: left;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bbbbbb;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #5a189a;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid #80558c;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #5a189a;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

input[type="email"]:focus {
  border: 2px solid #80558c;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #5a189a;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #5a189a;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

form button {
  background-color: #5a189a;
  color: white;
  border: none;
  padding: 20px;
  font-size: 16px;
  margin: 15px 0;
}
form button:hover, form button:active, form button:focus {
  background-color: #763FAB;

}

form button:disabled {
  background-color: #c9c5cc;
  transition: 0s;
}

@media only screen and (max-width: 768px) {
  .box {
    flex-direction: column;
    margin: 50px auto;
    width: 95%;
    padding-inline: 10px;
  }

  .left-box, .right-box{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  form{
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }

  .left-box h2{
    font-size: 40px;
    margin-left: 0;
  }
  .left-box svg{
  margin: 3px 3px;
  left: 36.72%;
  right: 47.14%;
  top: 6%;
  bottom: 42.31%;
  }
  .right-box h2{
    font-size: 28px;
    margin-left: 0;
    align-self: center;
    gap: 0;

  }
  .right-box p{ text-align: center;}
}
@media screen and (max-width:450px) {
  .left-box h2{
    font-size: 35px;
   
  }
  .right-box{
    display: none;
  }
}

@media screen and (max-width:370px) {
  .left-box h2{
    font-size: 25px;
  }
}