*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
body{
    background: #fff;
    min-width: 100%;
    
}
/* -----------------------Style for the navbar--------------------- */
nav{
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 15px 30px;
    margin: 2px 5px;
    background-color: #ffffff;
    justify-content: space-between;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.8);
    align-items: center;
    
}
nav ul li{
    content: '';
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    padding: 2px;

}
ul li a {
    color: #3c3c3c;
    
}
ul li a:hover{
    color: #5a189a;
    border: 1.5px solid #5A189A;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
}
/* -------------------header------------------------ */
.container{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    padding: 30px 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.intro{
    width: 50%;
    padding: 30px;
}
.button{
    width: 30%;
    font-weight: 700;
    padding: 10px 15px;
    size: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #5A189A;
    border-radius: 8px;
    margin-top: 40px;
    outline: none;
    border: none;
}
.illustration{
    width: 450px;
}
/* intro Typography Styles */
.intro h1{
    width: 50vw;
    color: #16161d;
    Line-height: 45px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    
} 
.intro h1 span{
 color: #5a189a;
}
.intro p{
 font-style: normal;
 color: #3c3c3c;
 font-weight: 400;
 size: 16px;
 margin-bottom: 35px 0;
 width: 45vw;
}

/* grid styles */

.section-one{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;

}
.bounce, .move, .attention, .dissolve, .zoom, .flip, .rotate, .slide{
    background-color: #d1c8e1;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.section-one p, a{
    text-align: center;
    text-decoration: underline;
    color: #5A189A;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 7px 16px;
    
  
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d1c8e1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3c3c3c;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  /* section2 */
.section-two{
    width: 100%;
    margin: auto;
    text-align: center;
}
  
.grid-two{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 70%;
    gap: 30px;
    
}
.grid-two .img-features{
   margin: auto;
   align-items: center;
   text-align: center;
   width: 20%;
   
   
}
.grid-two h3{
    font-weight: 500;
    color: #16161d;
    font-style: normal;
    font-size: 32px;
    align-content: center;
    
    
}
.grid-two p{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    color: #3c3c3c;
    order: 1;
    
}
.start{
    width: 200px;
    font-weight: 700;
    padding: 10px 15px;
    size: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #5A189A;
    border-radius: 8px;
    margin-top: 40px;
    display: inline;
    padding: 8px;

}

/*------------------------ section 3-------------------- */
.section-three{
    
    text-align: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 35px;
}
.wrap-text{
    width: 30%;
    text-align: left;
    padding: 5px;
}
.wrap-text .sub-heading{
    font-weight: 500;
    line-height: 38px;
    font-size: 30px;
    color: #3c3c3c;
} 
.wrapper .ceo-zack{
    color: #3c3c3c;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.wrapper img{
    width: 350px;
}
.text{
    text-align: center;
    color: #763fab;
    padding: 1rem;

}
/*----------------------- section 4. animations------------------------------ */
.Animation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d1c8e1;
    height: 500px;
    overflow: hidden;
}
 .animate-text{
    width: 40%;
}
.animate-text h2{
  color: #763fab;
  width: 390px;
  text-align: center;
  order: 0;
  font-weight: 400;
}
.animate-text p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #16161D;
  width: 405px;
  order: 1;
  margin: 0.5rem;
}
.circular{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 300px;
}
.circular .anibry{
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #5A189A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}
.circular li{
    position: absolute;
    
    list-style: none;
}
.top{
    top: 0%;
    left: 50%;
    transform: translateX(-25%) translate(-25%);
    bottom: 10%;
}
.left{
    top: 30%;
    left: 20%;
    transform: translateX(-25%) translate(-25%);
}
.bottom{
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
 

}
.top-right{
    right: 15%;
    bottom: 10%;
    transform: translateX(-25%) translate(-25%);
}
.right{
  right: 15%;
  top: 30%;
  transform: translateX(-25%) translate(-25%);
}
.right-top{
    bottom: 10%;
    left: 20%;
    transform: translateX(-25%) translate(-25%);
}
/* ---------------------------subscribe--------------------- */
.subscribe{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    flex-direction: column;
    
    
}
.subscribe-top h5{
    font-weight: 400;
    font-size: 20px;
    font-style: bold;
}
.border{
    border-top: 1px solid #3c3c3c;
}
.subscribe-down button{
    padding: 5px 20px;
    background-color: #5A189A;
}


/* ---------------------------community section----------------------------- */
.community{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.community-text{
    width: 30%;
    margin-bottom: 10px;
}
.community-text h2{
    margin-bottom: 1rem;
}
.community-text p{
    margin-bottom: 1rem;
}
.community-image img{
   width: 400px;
}
/* ----------------------------------footer--------------------------------- */

footer{
    width: 100%;
    border-radius: 0px;
    background-color: #5A189A;
    color: white;
    flex-shrink: 1;
    line-height: 24px;
    padding: 10px 20px;
    text-align: center;

}

.footerColumnsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 5px;
}
.footerColumnsContainer p{
    text-align: right;

}
.footerColumnsContainer .build{
    text-align: left;
}
.footerColumnsContainer .copyright p{
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.footerCol1 img{
   margin-bottom: 32px;
}


.footerCol2, .footerCol3, .footerCol4{
    width: 25%;
    margin-right: 24px;
} 

 /*----------------------MEDIA QUERIES----------------------  */
 @media screen  {
    
 }