* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
  body{
    width: 100%;
    height: 100vh;
  }
  /* -----------style for the header--------------- */
.header{
  background-image: url(img/Rectangle\ 1.png);
  height: 150px;
}
/* ------------style for the nav-bar */
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-bar ul li{
  display: inline-block;
  align-items: center;
  list-style: none;
  margin: 3px;
  padding: 10px;
}
.nav-bar img{
  width: 100px;
}
/* -----------------------style for the main----------- */
main{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/* ------------style for the left-side-------------- */
.left{
  width: 20%;
  margin: 1rem;
}
.left-side{
  height: 20vh;
  width: 80%;
  background-color: #5a189a;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}
.left-side a{
  color: #fff;
}
.left p{
  margin: 1rem;
}
/* the main content */
.content{
  align-content: center;
}
