@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');



body{
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: 0;
   /* display: flex;
   justify-content: center; */

   
}

h1{
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 96px;
margin-bottom: 15px;
padding: 30px 40px 0 300px;
}

h3,h5{
    color: #16161D;
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;

}

h3{
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin: 0;
    padding: 20px 0 0 300px;
}

h5{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 10px;
    
}

p{
    color: #16161D;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 60%;
    padding: 0px 0px 0 300px;
    /* text-align: center;
    margin: auto; */
}

.team_job{
    color: #797979;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-top: 2px;
    margin-bottom: 30px;
    padding: 0;
}

.read-more{
    color: #5A189A;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    border: none;
    /* border-image-repeat:0; */
    /* padding: auto; */
    
    
    /* margin-top: 1px; */
    padding: 0 0 0 300px;
}

.our-story{
width: 61%;
height: 96px;

}

.team_picture{
display: flex;
flex-direction: column;
width: 188px;

gap: 32px;
}

.team-picture{
   
    /* flex-direction: ; */
    padding: 5px;
}

.lower_picture{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
   }