<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
      
 <main>
    <div class="box">
      <div class="left-box">
        <div class="zuri">
          <h2>Set new password</h2>
          <br>
          <p id="p">Your new password must be different from previously used passwords</p>
          <form action="GET">
            <div class="form-container">
              <br />
              <p>New password</p>
              <div class="inputs">
                <input type="password" placeholder="Minimum of 8 characters" id="myinput" minlength="8" maxlength="15" 
                required>
                      <!-- <span class="eye" > -->
                <i id="hideeye" class="fa fa-eye" onclick="myFunction()"></i>
                <i id ="openeye" class="fa fa-eye-slash" onclick="myFunction()"></i>
                
            </div>
            </div>
            <br>
            <button type="submit">Reset password</button>
        </div>
      </div>  
    </div>
   </div>
 </main>
 <script src="ani.js"></script>
</body>
</html>
