<!-- HEADER -->
<head>

    <link rel="stylesheet" href="../../static/css/headerandfooter.css">
</head>
<header>
      <div class="headercontainer">
        <img src="../../static/imagesctn/images/anibry-logo-header.svg" alt="logo"/>
        <div class="navmenu">
          <div>
            <img class="close" src="../../static/imagesctn/images/closeicon.svg" alt="closeicon">
          </div>
          <a href="library.html">Library</a>
          <a href="documentation.html">Documentation</a>
          <a href="community.html">Community</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="teampage.html">Team</a>
          <a href="contact.html">Contact</a>

          
        </div>
        <div class="profile">
            <!-- THIS USER-IMAGE CLASS SHOULD BE THE USER'S PICTURE -->
          <img class="user-image" src="../../static/imagesctn/profilepage/profile-circle.png" alt="profile-image" />
          <p class="profile-name"> Harriet </p>
          <img class="icondown" src="../../static/imagesctn/images/icondown.svg" alt="icondown"/>
          <div class="hamburger">
          <img src="../../static/imagesctn/images/menuhamburger.svg" alt="hamburgericon">
          </div>
        </div>
      </div>

      <div class="headerdropdown">
          <div>
            <div class="profileindropdown">
                <!-- THIS USER-IMAGE CLASS BELOW SHOULD BE THE USER'S PICTURE -->
                <img class="user-image" src="../../static/imagesctn/profilepage/profile-acircle.png" alt="">
                <div class="details">
                    <!-- THIS NAME BELOW SHOULD BE THE USER'S FULL NAME -->
                    <p>Harriet Olanrewaju</p>
                    <a href="library.html">View Library</a>
                </div>
            </div>
          </div>
          <a class="myanimations" href="#">My Animations</a>
          <a href="#">My Downloads</a>
          <a href="#">My likes</a>
          <a class="gettingstarted" href="#">Getting Started</av>
          <a href="#">Account Settings</a>
          <a class="logout" href="#">Log out</a>
    </div>
</header>

    <!-- FOOTER -->

    <footer>
      <div id="desktopfooter" class="footer-wrapper">
        <div class="footerColumnsContainer">
          <div class="footerCol footerCol1">
            <img src="../../static/imagesctn/images/anibry-logo-footer.svg" alt="logo" />
            <p>
              Build with all the love in the world by the using Anibry library
              in your projects. <br />
              Currently v1.0
            </p>
          </div>
          <div class="footerCol footerCol2">
            <a class="heading" href="#"><strong> Quick Link</strong></a>
            <a href="library.html">Library</a>
            <a href="#">My Library</a>
            <a href="portfolio.html">Anibry Portfolio</a>
            <a href="profile.html">Profile</a>
          </div>
          <div class="footerCol footerCol3">
            <a class="heading" href="#"><strong>Company</strong></a>
            <a href="index.html">Home</a>
            <a href="documentation.html">About Anibry</a>
            <a href="teampage.html">Team</a>
            <a href="#">Terms of Service</a>
            <a href="#">Policy Privacy</a>
            <a href="#">Cookies Policy</a>
          </div>
          <div class="footerCol footerCol4">
            <a class="heading" href="#"><strong>Help</strong></a>
            <a href="#">FAQ</a>
            <a href="documentation.html">Documentation</a>
            <a href="contact.html">Contact Us</a>
            <a href="community.html">Community</a>
          </div>
        </div>
        <div class="copyright">© 2022 Anibry. All right reserved.</div>
      </div>
    </footer>
    <script src="../../static/js/headerandfooter.js"></script>