
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS link -->
{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static '/css/contact.css'%}">
  <!-- JS link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="contact.js"></script>

  <title>Contact | Anibry</title>
</head>

<body>
  <main>
    <div id="wrapper">
      <div class="flex-container">
        <div class="left-col col-6">
          <div class="content-container">
             <h1>Get in Touch.</h1>
             <p id="p1">Let us know how we can support your success.</p>
             <p>
                <img src="/images/Check.svg" alt="mark"> Consult a professional to learn how Anibry can increase your efficiency and productivity.
              </p>
              <p> 
               <img src="/images/Check.svg" alt="mark">Set and attain your goals.
             </p>
              <p> 
               <img src="/images/Check.svg" alt="mark">Integrate our animations to add value to your project.
             </p>
              <p>For FAQs? <a href="#"><strong>Click Here</strong></a></p>
          </div>
        </div>
        <div class="right-col col-6">
          
          <form id="form" method="POST" action="" >
            {% csrf_token %}
            <div class="box1">
                <p id="p1">Contact our Incredible Team</p>
              </div>

            <div class="row">

              <div class="col-75">
                <label for="name">Fullname</label>
                <!-- <input type="text" id="fullname" title="Full Name" name="fullname" placeholder="Harlet Olarewaju"> -->
                {{form.yourname}}
              </div>
            </div>
            
            <div class="row">

              <div class="col-75">
                <label for="email">Email</label>
                <!-- <input type="email" id="email" title="Email Address" name="email" placeholder="Harletolarewaju17@gmail.com"> -->
                {{form.email}}
              </div>
            </div>
            <div class="row">

              <div class="col-75">
                <label for="text">How can our team help you?</label>
                <!-- <textarea id="textarea" cols="60" rows="10" placeholder="Tell us more about what information you are looking to recieve."></textarea> -->
                {{form.message}}
            </div>
            </div>
            <div class="row">
              <input type="submit" id="submit" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>