{% extends  'accounts/authheaderandfooter.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

    <title>{% block title %} Documentation | Anibry {% endblock %}</title>
    {% block content %}
     <link rel="stylesheet" type="text/css" href="{% static '/css/documentation.css'%}">
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{% static '/css/documentation.css'%}">
    <div id="container">
      <img class="asidehamburger" src="{% static 'imagesctn\images\menuhamburger.svg' %}" alt="asidehamburger">
      <div class="aside">
        <div class="tableofcontent">
          <img class="closeasidemenu" src="{% static 'imagesctn\images\closeicon.svg' %}" alt="closeicon">
          <a href="{% url 'accounts:documentation'%}" class="active">Overview</a>
          <a href="{% url 'accounts:start'%}">Getting Started</a>
          <div id="listContent">
            <a href="{% url 'accounts:usingclasses'%}">Using Classes</a>
            <a href="{% url 'accounts:usingJS'%}">Using JavaScript</a>
          </div>
          <a href="{% url 'accounts:important'%}">Best Practices</a>
        </div>
      </div>
      <div id="content">    
        <h1>Anibry Library</h1>
        <p>
          Anibry is a library of ready-to-use, cross-browser animations for use in
          your web projects. Great for emphasis, home pages, sliders, and
          attention-guiding hints. Enjoy the fast, seamless, easy to use and easy
          to integrate library. Click here to download <a href="#" class="downloadbutton"> Anibry Library</a>
        </p>
      </div>
    </div>

    <script src="{%static '/js/documentation.js'%}"></script>
  </body>
  {% endblock %}
</html>
