<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/headerandfooter.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
  <main>
    <div class="box">
      <div class="left-box">
        <div class="zuri vov flash">
          <h2>Forgot Password?</h2>
          <br>
          <p id="forgotp">Enter the email address associated with this your account</p>
          <form id="forgot" action="GET">
            <div class="form-container">
              <br />
              <p>Email Address</p>
              <div class="inputs">
                <input type="email" placeholder="harrietolanrewaju@gmail.com" required />
              </div>
            </div>
            <br>
            <button type="submit">Submit email</button>
            <br>
            <p id="lol">Already have an Anibry account?<a href="/login">Log in</a>
            </p>
          </div>
        </form>
        </div>
   
       <div class="zuri right-box">
       <div class="">
        <img src="registrationgif/Forgot password.gif" alt="">
            
            </div>
      </div>
    </div>
  </main>
  </body>
  </html>