{% extends  'accounts/authheaderandfooter.html' %}
<title>{% block title %} Getting Started {% endblock %}</title>

{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static '/css/documentation.css'%}">
  <body>
    
    <div id="container">
      <img class="asidehamburger" src="{% static '/imagesctn/images/menuhamburger.svg' %}" alt="asidehamburger">  
      <div class="aside"> 
        <div class="tableofcontent">
          <img class="closeasidemenu" src="{% static '/imagesctn/images/closeicon.svg' %}" alt="closeicon">
          <a href="{% url 'accounts:documentation'%}" class="active">Overview</a>
          <a href="{% url 'accounts:start'%}">Getting Started</a>
          <div id="listContent">
            <a href="{% url 'accounts:usingclasses'%}">Using Classes</a>
            <a href="{% url 'accounts:usingJS'%}">Using JavaScript</a>
          </div>
          <a href="{% url 'accounts:important'%}">Best Practices</a>
        </div>
      </div>
      <!-- MOBILE ASIDE
      <div id="mobileaside">
        <div class="tableofcontent">
          <a href='documentation.html' class="active">Overview</a>
          <a href='gettingstarted.html'> Getting Started</a>
          <a href='usingclasses.html'> Using Animations <img src="{% static 'imagesctn/images/anibry-logo-header.svg' %}" alt="icondown"/></a>
          <div id="listContent">
            <a href='usingclasses.html'>Using Classes</a>
            <a href="#">Using Keyframes</a>
          </div>
          <a href="#">Best Practices</a>
        </div>
      </div> -->
      <div id="content">
        <h1>Installation</h1>
        <p>
          The very first step is to download the Anibry library here. After
          downloading, there are different methods listed below to start using
          the classes.
        </p>
        <h2>Import the file:</h2>
        <p>Unzip the downloaded file and import it into your stylesheet</p>
        <div class="codearea">
          <p>
            <span class="blue">@import</span> <span class="brown">"anibry"</span
            >;
          </p>
        </div>
        <p>Or do this:</p>
        <div class="codearea">
          <p>
            <span class="blue">@import </span> url<span class="gold">(</span>
            <span class="brown">"anibry.css"</span
            ><span class="gold">)</span>;
          </p>
        </div>
        <p>
          Link the file to your webpage: <br />You can also get access to the
          library by linking the CSS file to your webpage.
        </p>
        <div class="codearea">
          <p>
            <span class="grey"> <</span class="blue">head<span>></span> <br>
              <span class="grey">  &nbsp; <</span><span class="blue">link </span><br> &nbsp; &nbsp; <span class="cloud"> rel </span>= <span class="brown"> "stylesheet"</span> <span class="grey">></span> <br> &nbsp; &nbsp; <span class="cloud"> href </span> = <span class="brown"> "anibry.css" </span> <span class="grey"> /> </span> <br>
              &nbsp; /> <br>
            <span> <</span>/head>
          </p>
        </div>
        <div id="interaction">
          <p> Is this information above useful for you? <img src="{% static '/imagesctn/images/like.svg' %}" alt="thumbsup"> <img src="{% static '/imagesctn/images/dislike.svg' %}" alt="thumbsdown"> </p>
          <div>
            <div>
              <textarea name="documentationInteraction" id="documentationInteraction" cols="20" rows="30" placeholder="Tell us why in this comment section"></textarea>
            </div>
            <div class="submitandcancel">
              <input class="submit" type="submit" value="Send Comment">
              <input class="cancel" type="button" value="Cancel">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/js/documentation.js' %}"></script>
  </body>
  {% endblock %}
</html>
