{% extends  'accounts/authheaderandfooter.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>{% block title %} Homepage {% endblock %}</title>
    {% block content %}
    <link rel="stylesheet" href="{% static '/css/homepage.css'%}">

</head>
<body>
    <main>
    <section class="section1">
        <div class="box1">
            <div class="innerbox">
                <div>
                    <h1>Welcome To <br> Anibry Library</h1>
                    <p>Anibry is a library of cross-browser animations ready to use in your web projects. Excellent for focus, webpages, transition effects, and organising indications.</p>
                
                    <button><a href="{% url 'accounts:library' user.id %}">Go to library</a></button>
                </div>             
            </div>
        </div>
        <div class="box2">
            <img src="{% static 'imagesctn/homepage/Programming blue_purple on Lottiefiles 2 (1).svg'%} " alt="">
        </div>
    </section>
    <div class="complogos" >
        <img src="{% static 'imagesctn/homepage/Group 65.svg' %}" alt="company logos">
    </div>
    <h2>Make use of preset Interactions</h2>
    <p>Need to add something simple? Choose from a collection of prebuilt interactions and animations and add them to your site with a just a few clicks.</p>
    <div class="items">
        <div class="items1">
            <div>

                <img src="{% static 'imagesctn/homepage/Pulse 1.svg' %}" alt="pulse">
            </div>
            <div class="slide">
                
                <img  src="{% static 'imagesctn/homepage/Slide 1.svg' %}" alt="slide">
            </div>
            <div>
                <img src="{% static 'imagesctn/homepage/Jello 1.svg' %}" alt="">

            </div>
            <div>
                <img src="{% static 'imagesctn/homepage/Bounce 1.svg' %}" alt="">

            </div>
        </div>
        <div class="items2">
            <div>
                
                <img src="{% static 'imagesctn/homepage/Grow1 1.svg' %}" alt="">
            </div>
            <div>

                <img src="{% static 'imagesctn/homepage/Rotate 1.svg' %}" alt="">
            </div>
            <div>

                <img src="{% static 'imagesctn/homepage/Pop 1.svg' %}" alt="">
            </div>
            <div>
                <img src="{% static 'imagesctn/homepage/Wobble 1.svg' %}" alt="Wobble">

            </div>
        </div>
    </div>
    <div class="viewlibrary">
        
        <a href="{% url 'accounts:library' user.id %}">View more in Library </a>
    </div>
    <div class="bigImge">
        <img src="{% static 'imagesctn/homepage/Frame 427319517.svg' %}" alt="image">
    </div>
    <h2>FAQ</h2>
    <h1>You have inquiries. We have the answers.</h1>
    <div class="faq">

        <a  class="faqq">How can I create animations in the library?</a>
        <p>To simply toggle through the library list till you find an animation you are interested in. Click to preview a demo then click the "copy" button at the bottom. You can now paste the class name in your target element's class list <br></p>
        <a class="faqq">Can I create my own specific animations in the library?</a>
        <p> No, you can't. You can, however, create specific animations with the library after download. See documentation page for guide. <br></p>
        <a class="faqq">Can I save and download animations for further purposes? </a>
        <p>Yes, you can! Simply click the love or download button in the library page to either save or download respectively. <br></p>
        <a class="faqq">Will I be able to access all animations on the offline download? </a>
        <p>Of course. Give it a try! <br></p>
    </div>
    <form action="#" class="newsletter">
        
        <label for="newsletter" >Stay up to date <br>
with our newsletter. </label>
    <div class="input">
        <input type="email" name="user-email" id="user-email" placeholder="Enter email address...">
        <input type="submit" value="Subscribe" class="submit">
    </div>

    </form>
</main>
<script src="{% static './js/homepage.js'%}"></script>
</body>
{% endblock %}
</html>