{% extends  'accounts/authheaderandfooter.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

    <title>{% block title %} Important Tips | Anibry {% endblock %}</title>
    {% block content %}
     <link rel="stylesheet" type="text/css" href="{% static '/css/documentation.css'%}">
  </head>
  <body>
    
    <div id="container">
      <img
        class="asidehamburger"
        src="{% static '/imagesctn/images/menuhamburger.svg' %}"
        alt="asidehamburger"
      />
      <div class="aside">
        <div class="tableofcontent">
            <img class="closeasidemenu" src="{% static '/imagesctn\images\closeicon.svg' %}" alt="closeicon">
          <a href="{% url 'accounts:documentation'%}" class="active">Overview</a>
          <a href="{% url 'accounts:start'%}">Getting Started</a>
          <div id="listContent">
            <a href="{% url 'accounts:usingclasses'%}">Using Classes</a>
            <a href="{% url 'accounts:usingJS'%}">Using JavaScript</a>
          </div>
          <a href="{% url 'accounts:important'%}">Best Practices</a>
        </div>
      </div>
      <div id="content">
        <h1>Important Tips</h1>
        <p>
            As much as using animations add flavor your website and can greatly improve user experience, there are a few tips to always take note of that would help guide usage of animations.
        </p>
        <h2>Have a clear reason to animate</h2>
        <p>
            It's best to refrain from animating a component purely for show. The objective of using animations should be obvious, so keep that in mind. Bounce, flash, pulse, and other attention-grabbing animations should be utilized to draw the user's attention to something unique in your interface rather than just to make it more "flashy."
        </p>
        <p>
            To help users understand what is happening in the interface and to clearly indicate that it is changing states, entrance and exit animations should be employed.
        </p>
        <p>
            It doesn't mean you shouldn't add some excitement to the interface; just make sure your user isn't hindered by animations, and that such usage of animations won't slow down the page's performance.
        </p>
        <h2>The smaller the element you animate, the better</h2>
        <p>Animating large elements won't be very useful to the user and probably won't do anything but confuse them. In addition, there is a good likelihood that the animations will be subpar, leading to a poor user experience.</p>
        <h2>Don't animate root elements</h2>
        <p>
            Although it is feasible, you should refrain from animating the <span class="blue">html</span> or <span class="blue">body</span> tags. Some reports noted that this can result in strange browser issues. Furthermore, making the entire page "jiggle" wouldn't do much for your user experience. If this effect is what you need, surround your page with a container element and animate it as follows:
        </p>
        <div class="codearea">
            <span class="grey"><</span><span class="blue">body</span><span class="grey">></span> <br>
            &nbsp;&nbsp;<span class="grey"><</span><span class="blue">main</span> <span class="cloud">class</span> = <span class="brown"> "jiggle"</span><span class="grey">></span> <br>
            &nbsp; &nbsp; &nbsp;<span class="grey"> <span><</span>!-- Your code --<span>></span> </span> 
            <br>&nbsp;&nbsp; <span class="grey">< /</span><span class="blue">main</span><span class="grey">></span>
            <br> <span class="grey">< /</span><span class="blue">body</span><span class="grey">></span>
        </div>
        <h2>Infinite animations should be avoided</h2>
        <p>
            Although Anibry provides classes for generic and unique animations and the flexibility to make them run infinitely, you should generally reduce and, if possible, avoid using endless run animations. There are chances it might irritate your users.
        </p>
          <div>
            <div id="interaction">
              <p> Is this information above useful for you? <img class="likeit" src="{% static '/imagesctn/images/like.svg' %}" alt="thumbsup"> <img class="dislikeit" src="{% static '/imagesctn/images/dislike.svg' %}" alt="thumbsdown"> </p>
              <textarea name="documentationInteraction" id="documentationInteraction" cols="20" rows="30" placeholder="Tell us why in this comment section"></textarea>
            </div>
            <div class="submitandcancel">
              <input class="submit" type="submit" value="Send Comment">
              <input class="cancel" type="button" value="Cancel">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{%static '/js/documentation.js'%}"></script>
  </body>
  {% endblock %}
</html>
