<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="shortcut icon" href="img/Logo-purple.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/css/landing.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/anibry.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
        <!-- FOR MOBILE MENU -->
    <div class="mobilemenulist">
        <div class="menuimgdiv">
            <img class="closemenu" src="{% static '/imagesctn/img/Vector.png'%}" alt="exiticon">
        </div>
        <li class="mobilemenuitem"><a href="./Frontend/documentation.html">Documentation</a></li>
        <li class="mobilemenuitem"><a href="./Frontend/Team page/Teampage.html">About</a></li>
        <li class="mobilemenuitem"><a href="./Frontend/login.html" class="login">Log in</a></li>
    </div>

    <!-- MOBILE MENU ENDS -->
    <!-- The navbar i.e the logo and other pages -->
        <nav class="nav-bar">
            <img src=" {% static '/imagesctn/img/Logo-purple.png'%}" alt="logo">
            <ul class="desktopmenu">
                <li><a href="./Frontend/documentation.html">Documentation</a></li>
                <li><a href="./Frontend/Team page/Teampage.html">About</a></li>
                <li><a href="./Frontend/login.html" class="login">Log in</a></li>
                <li><a href="./Frontend/registration.html" class="register">Register</a></li>
            </ul>
            <ul class="mobilemenu">
                <li><a href="./Frontend/registration.html" class="register">Register</a></li>
                <img class="menu" src="{% static '/imagesctn/images/menuhamburger.svg'%}" alt="hamburger"> 
            </ul>
        </nav>
    <!-- The header  -->
    <header>
        <div class="container">
            <div class="intro">
                <h1><span>Beginner-friendly library,</span> with<br> tiny powerful animations<br> for your web projects</h1>
                <p>Anibry offers cross tools integration and works great with CSS properties, SVG, DOM attributes and JavaScript Objects</p>
                <button class="button"><a href="./Frontend/Library Page/library.html"> Start Animating </a></button>
            </div>
            <div class="image">
                <img class="illustration" src=" {% static '/imagesctn/img/rafiki.svg'%}" alt="hero-image">
            </div>
        </div>
        
    </header>
    <main>
        <!-- first section mostly about our various animations -->
        <section class="section-one">
            <h1 class="text">Basic Anibry Animations</h1>
            <div class="grid">
                <div class="boxcontainer">
                    <div class="rebound">REBOUND</div>
                    <div class="dropdown">
                    <button class="dropbtn">Select a style
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a class="reboundItem">rebound-NE</a>
                            <a class="reboundItem">rebound-NW</a>
                            <a class="reboundItem">rebound-SE</a>
                            <a class="reboundItem">rebound-SW</a>
                            
                        </div>
                    </div>
                </div>
                <!-- The move animation -->
                <div class="boxcontainer">
                    <div class="suspend">suspend</div>
                    <div class="dropdown">
                        
                        <button class="dropbtn">Select a style 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a class="suspendItem">suspend-NE</a>
                            <a class="suspendItem">suspend-NW</a>
                           
                        </div>
                    </div>
                </div>
                <!-- The Attention animation -->
                <div class="boxcontainer">
                    <div class="attention">ATTENTION</div>
                    <div class="dropdown"> 
                        <button class="dropbtn">select a style
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a class="attentionItem">elastic</a>
                            <a class="attentionItem">beat</a>
                            <a class="attentionItem">ring</a>
                        </div>
                        
                    </div>
                  </div>
                <!-- The quake Animation -->
                <div class="boxcontainer">
                    <div class="quake">quake</div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Select a style
                        </button>
                   
                        <div class="dropdown-content">
                            <a class="quakeItem">quakeX</a>
                            <a class="quakeItem" >quakeY</a>
                        </div>
                    </div>
                </div>
                   
                <!-- The Rotate Animation -->
                <div class="boxcontainer">
                    <div class="rotated">ROTATE</div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Select a style
                        </button>
                        <div class="dropdown-content">
                        <a class="rotatedItem" >rotateInFromSW</a>
                        <a class="rotatedItem" >rotateInFromNW</a>
                        <a class="rotatedItem" >rotateOut</a>
                        </div>
                    </div>
                </div>
                <!-- The Slide Animation -->
                <div class="boxcontainer">
                    <div class="jiggle">Jiggle</div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Select a style
                        </button>
                        <div class="dropdown-content">
                            <a class="jiggleItem" >jiggleX</a>
                            <a class="jiggleItem" >jiggleY</a>
                        </div>
                    </div>
                </div>
                <!-- The Turn Animation -->
                <div class="boxcontainer">
                    
                    <div class="turn">Turn</div>
                    <div class="dropdown"><button class="dropbtn">
                        Select a style </button>
                   
                    <div class="dropdown-content">
                        <a class="turnItem" >turnFromEast</a>
                        <a class="turnItem" >turnFromWest</a>
                    </div>
                </div>
                </div>
                <!-- The invert Animation -->
                <div class="boxcontainer">
                    <div class="invert">INVERT</div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Select a style</button>
                    <div class="dropdown-content"> 
                        <a class="invertItem" >invertInX</a>
                        <a class="invertItem" >invertInY</a>
                        <a class="invertItem" >invertOutX</a>
                     </div>
                </div>
            </div>
        </section>
        <p><a href="library.html">View more in library</a></p>

        <!-- section about our library features -->
        <section class="section-two">
            <h1 class="text">Everything you need in an an animation library</h1>

            <div class="grid-two">
                <div class="grid-two-box">
                    <img class="img-features" src=" {% static '/imagesctn/img/arcticons_tinybit.png'%}" alt="">
                    <h3>Tiny</h3>
                    <p>The animations are less than 10kb and every value function is importable</p></div>
                <div class="grid-two-box">
                    <img class="img-features" src=" {% static '/imagesctn/img/healthicons_low-level.png'%}" alt="">
                    <h3>Low Level</h3>
                    <p>Easy integration, composable functions, portable to any framework environment </p>
                </div>
                <div class="grid-two-box">
                    <img class="img-features" src="" alt="">
                    <h3>Fast</h3>
                    <p>Silky smooth animations and effects for staggering user's experience</p></div>
                <div class="grid-two-box">
                    <img class="img-features" src="{% static '/imagesctn/img/ri_open-source-fill.png'%}" alt="">
                    <h3>Open Sourced</h3>
                    <p>Fast growing community refines Anibry and ships frequently</p></div>
                <div class="grid-two-box">
                    <img class="img-features" src="{% static '/imagesctn/img/iconoir_magnet-energy (1).png'%}" alt="">
                    <h3>Powerful</h3>
                    <p>Supports keyframes, spring and inertia animations on numbers, colors, and complex strings</p></div>
                <div class="grid-two-box">
                    <img class="img-features" src="{% static '/imagesctn/img/carbon_desk-adjustable.png'%}" alt="">
                    <h3>Stable</h3>
                    <p>Consistent reviews and community contributions to ensure reliability</p></div>
                    </div>
                    <button class="button"><a href="./Frontend/Library Page/library.html"> Start Animating </a></button>
        </section>

        
        <!-- section about what our user thinks about our product -->
        <section class="section-three">
            <h1 class="text">What our users say!</h1>
            <div class="wrapper">
                <div class="wrap-text">
                    <p class="sub-heading">"Anibry has made it easy to get animes for my projects and websites. I am glad i came across them. I strongly recommend them"</p>
                    <p class="ceo-zack">Zack orji CEO INNCC</p>
                </div>
                <div><img src="{% static '/imagesctn/img/Frame 2.png'%}" alt=""></div>
            </div>
        </section>
        <!-- the fourth section -->
        <section>
            <div class="Animation">
                <ul class="circular">
                    <div class="anibry toggle target">
                        <img class="logoball" src="{% static '/imagesctn/img/Group 13875.png'%}" alt="anibrylogo">
                    
                   <li class="top rotateball" ><img src="{% static '/imagesctn/img/figma 1.png'%}" alt="figmalogo"></li>
                   <li class="right rotateball"><img  src="{% static '/imagesctn/img/vscode-icons_file-type-xcode (1).png'%}" alt="xcodelogo"></li>
                   <li class="top-right rotateball" ><img src="{% static '/imagesctn/img/emojione_atom-symbol.png'%}" alt="atomlogo"></li>
                   <li class="bottom rotateball" ><img src="{% static '/imagesctn/img/xd 1.png'%}" alt="xdlogo"></li>
                   <li class="left rotateball"><img src="{% static '/imagesctn/img/vscode 1.png'%}" alt="vscodelogo"></li>
                   <li class="bottom-left rotateball"><img src="{% static '/imagesctn/img/AE 1.png'%}" alt="AElogo"></li>
                    </div>
                </ul>
                <div class="animate-text">
                   <h2>Amazing Integration across your tools</h2>
                   <p>Easy integration, composable functions, portable to any framework environment</p>
                </div>
            </div>
        </section>
       
    <!-- section about our community -->
   
    <section>
        <div class="community">
            <div class="community-text">
                <h2>Our community</h2>
                <p>Take a look to see what other users are saying</p>
                <a class="viewcommunity" href="./Frontend/community.html">View community</a>
            </div>
            <div class="community-image">
                <img src="{% static '/imagesctn/img/AE 1.pngimg/Frame 12.png'%}" alt="">       
            </div>
        </div>
    </section>
    <!-- section for subscribe -->
    <section>
        
            <div class="border">
                <div class="subscribe">
            <div class="subscribe-top">
                <h5>Subscribe to our newsletter</h5>
            </div>
                <div class="subscribe-down">
                    <input type="email" name="email" id="email" placeholder="email address">
                    
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </section>
   
    </main>
    <!--  our footer -->
    <footer>
            <div id="desktopfooter" class="footer-wrapper">
              <div class="footerColumnsContainer">
                <div class="footerCol footerCol1">
                  <img src="{% static '/imagesctn/img/anibry-logo-footer.svg'%}" alt="logo" />
                  <p class="build">
                    Build with all the love in the world by the using Anibry library
                    in your projects </br>
                    Currently v1.0
                  </p>
                </div>
                <div class="footerCol footerCol2">
                 <p>Made by:Zuri</p>
                 <p>Project Anima_lib</p>
                 <p>Team 96</p>
              </div>
            </div>
              <div class="copyright"><p>Copyright © 2022 Anibry. All right reserved.</p></div>
            
          </footer>
          <script src="{% static '/js/index.js' %}"></script>
</body>
</html>
