<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Page</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/anibry.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/library.css'%}">
    <link rel="shortcut icon" href="favicon.icon" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   
  </head>
  <body>
    <main>
      <div class="animationsmenu">
        <img src="../images/menuhamburger.svg" alt="menu">
      </div>
      <div class="left-box">
        <button id="animations">
          Animations <img class="closeicon" src="../images/closeicon.svg" alt="closeicon">
        </button>
        <button class="aniFamilyName">BounceIn
          <img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon">
        </button>
        <div class="aniList">
          <p>bounceInNorth</p>
          <p>bounceInSouth</p>
          <p>bounceInWest</p>
          <p>bounceInEast</p>
        </div>
        <button class="aniFamilyName">Arrive<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>arriveFromNorth</p>
          <p>arriveFromSouth</p>
          <p>arriveFromEast</p>
          <p>arriveFromWest</p>
        </div>
          <button class="aniFamilyName">Leave<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>leaveToNorth</p>
          <p>leaveToSouth</p>
          <p>leaveToEast</p>
          <p>leaveToWest</p>
        </div>
        <button class="aniFamilyName">CartoonSpeed<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>cartoonSpeedFromEast</p>
          <p>cartoonSpeedFromWest</p>
          <p>cartoonSpeedToEast</p>
          <p>cartoonSpeedToWest</p>
        </div>
        <button class="aniFamilyName">Unstable<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>unstable-vertical</p>
          <p>unstable-horizontal</p>
          <p>unstable-north</p>
          <p>unstable-south</p>
          <p>unstable-NE</p>
          <p>unstable-SE</p>
        </div>
        <button class="aniFamilyName">Invert<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>invertInX</p>
          <p>invertInY</p>
          <p>invertOutX</p>
          <p>invertOutY</p>
        </div>
        <button class="aniFamilyName">RotateIn<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rotateIn</p>
          <p>rotateInFromSW</p>
          <p>rotateInFromSE</p>
          <p>rotateInFromNW</p>
          <p>rotateInFromNE</p>
        </div>
        <button class="aniFamilyName">RotateOut<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rotateOutToSW</p>
          <p>rotateOutToSE</p>
          <p>rotateOutToNW</p>
          <p>rotateOutToNE</p>
        </div>
        <button class="aniFamilyName">Quake<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>quakeX</p>
          <p>quakeY</p>
        </div>
        <button class="aniFamilyName">Jiggle<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>jiggleX</p>
          <p>jiggleY</p>
        </div>
        <button class="aniFamilyName">FadeIn<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>fadeInFromSouth</p>
          <p>fadeInFromNorth</p>
          <p>fadeInFromEast</p>
          <p>fadeInFromWest</p>
        </div>
        <button class="aniFamilyName">FadeOut<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>fadeOutToSouth</p>
          <p>fadeOutToNorth</p>
          <p>fadeOutToEast</p>
          <p>fadeOutToWest</p>
        </div>
        <button class="aniFamilyName">SlideFrom<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>slideFromSouth</p>
          <p>slideFromNorth</p>
          <p>slideFromEast</p>
          <p>slideFromWest</p>
        </div>
        <button class="aniFamilyName">Move<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>moveUp</p>
          <p>moveDown</p>
          <p>moveLeft</p>
          <p>moveRight</p>
        </div>
        <button class="aniFamilyName">Attention<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>elastic</p>
          <p>blink</p>
          <p>ring</p>
          <p>seesaw</p>
          <p>beat</p>
          <p>jello</p>
        </div>
        <div class="aniList unique"></div>
        <button class="aniFamilyName">Turn<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>turnFromTop</p>
          <p>turnFromBottom</p>
          <p>turnFromRight</p>
          <p>turnFromLeft</p>
        </div>
        <button class="aniFamilyName">Present<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>present</p>
        </div>
        <button class="aniFamilyName">SweepIn<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>sweepIn</p>
        </div>
        <button class="aniFamilyName">Rebound<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rebound-NE</p>
          <p>rebound-NW</p>
          <p>rebound-SE</p>
          <p>rebound-SW</p>
        </div>
        <button class="aniFamilyName">Suspend<img class="dropicon" src="./Image/dropdownicon.png" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>suspend-NE</p>
          <p>suspend-NW</p>
        </div>
      </div>
      <div class="right-box">
        <div class="rowscontainer">
          <div class="row1">
            <input class="search" type="search" placeholder="Search" name="search">
            <button class="download">Download Library
              <img src="./Image/download.png" alt="downloadicon">
            </button>
          </div>
          <div class="row2">
            <img class="love" src="./Image/loveicon.png" alt="loveimage">
            <img id="ellipse" src="./Image/Ellipse 3.png" alt="circleimage">
            <img class="line" src="./Image/lineicon.png" alt="lineicon">
          </div>
          <div class="row4">
            <img class="copyicon" src="./Image/copyicon.png" alt="copyimage">
            <div class="view">
              <img src="./Image/eye.png" alt="eyeicon">
              <span class="togglecode">view code</span>
            </div>
            <img class="fileicon" src="./Image/fileicon.png" alt="fileicon">
          </div>
          <div class="row3">
            <pre>
                <code class="language-HTML">
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;link rel="stylesheet" 
              href="./anibry.css"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;img id="demoImage" class="bounce" 
      src="./images/ellipse.png" 
            alt="ellipseIcon"&gt;
    &lt;/div&gt;
  &lt;/body&gt;
  &lt;/html&gt;
                </code>
            </pre>
          </div>
 
<!--
    <div>
                
            <span class="material-symbols-outlined">
              visibility
              </span>
          <h3>View Code</h3>
          </div>
            -->
        </div> 
      </div>
    </main>
    <script src="library.js"></script>
  </body>
</html>
