{% extends  'accounts/authheaderandfooter.html' %}
<title>{% block title %} Library Page {% endblock %}</title>

{% block content %}
  <body>
    <main>
      <div class="animationsmenu">
        <img src="{% static '/imagesctn/images/menuhamburger.svg'%}" alt="menu">
      </div>
      <div class="left-box">
        <button id="animations">
          Animations <img class="closeicon" src="{% static '/imagesctn/images/closeicon.svg'%}" alt="closeicon">
        </button>
        <button class="aniFamilyName">BounceIn
          <img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon">
        </button>
        <div class="aniList">
          <p>bounceInNorth</p>
          <p>bounceInSouth</p>
          <p>bounceInWest</p>
          <p>bounceInEast</p>
        </div>
        <button class="aniFamilyName">Arrive<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>arriveFromNorth</p>
          <p>arriveFromSouth</p>
          <p>arriveFromEast</p>
          <p>arriveFromWest</p>
        </div>
          <button class="aniFamilyName">Leave<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>leaveToNorth</p>
          <p>leaveToSouth</p>
          <p>leaveToEast</p>
          <p>leaveToWest</p>
        </div>
        <button class="aniFamilyName">CartoonSpeed<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>cartoonSpeedFromEast</p>
          <p>cartoonSpeedFromWest</p>
          <p>cartoonSpeedToEast</p>
          <p>cartoonSpeedToWest</p>
        </div>
        <button class="aniFamilyName">Unstable<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>unstable-vertical</p>
          <p>unstable-horizontal</p>
          <p>unstable-north</p>
          <p>unstable-south</p>
          <p>unstable-NE</p>
          <p>unstable-SE</p>
        </div>
        <button class="aniFamilyName">Invert<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>invertInX</p>
          <p>invertInY</p>
          <p>invertOutX</p>
          <p>invertOutY</p>
        </div>
        <button class="aniFamilyName">RotateIn<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rotateIn</p>
          <p>rotateInFromSW</p>
          <p>rotateInFromSE</p>
          <p>rotateInFromNW</p>
          <p>rotateInFromNE</p>
        </div>
        <button class="aniFamilyName">RotateOut<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rotateOutToSW</p>
          <p>rotateOutToSE</p>
          <p>rotateOutToNW</p>
          <p>rotateOutToNE</p>
        </div>
        <button class="aniFamilyName">Quake<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>quakeX</p>
          <p>quakeY</p>
        </div>
        <button class="aniFamilyName">Jiggle<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>jiggleX</p>
          <p>jiggleY</p>
        </div>
        <button class="aniFamilyName">FadeIn<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>fadeInFromSouth</p>
          <p>fadeInFromNorth</p>
          <p>fadeInFromEast</p>
          <p>fadeInFromWest</p>
        </div>
        <button class="aniFamilyName">FadeOut<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>fadeOutToSouth</p>
          <p>fadeOutToNorth</p>
          <p>fadeOutToEast</p>
          <p>fadeOutToWest</p>
        </div>
        <button class="aniFamilyName">SlideFrom<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>slideFromSouth</p>
          <p>slideFromNorth</p>
          <p>slideFromEast</p>
          <p>slideFromWest</p>
        </div>
        <button class="aniFamilyName">Move<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>moveUp</p>
          <p>moveDown</p>
          <p>moveLeft</p>
          <p>moveRight</p>
        </div>
        <button class="aniFamilyName">Attention<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>elastic</p>
          <p>blink</p>
          <p>ring</p>
          <p>seesaw</p>
          <p>beat</p>
          <p>jello</p>
        </div>
        <div class="aniList unique"></div>
        <button class="aniFamilyName">Turn<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>turnFromTop</p>
          <p>turnFromBottom</p>
          <p>turnFromRight</p>
          <p>turnFromLeft</p>
        </div>
        <button class="aniFamilyName">Present<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>present</p>
        </div>
        <button class="aniFamilyName">SweepIn<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>sweepIn</p>
        </div>
        <button class="aniFamilyName">Rebound<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%} alt="dropdownicon"> </button>
        <div class="aniList">
          <p>rebound-NE</p>
          <p>rebound-NW</p>
          <p>rebound-SE</p>
          <p>rebound-SW</p>
        </div>
        <button class="aniFamilyName">Suspend<img class="dropicon" src="{% static '/imagesctn/library/dropdownicon.png'%}" alt="dropdownicon"> </button>
        <div class="aniList">
          <p>suspend-NE</p>
          <p>suspend-NW</p>
        </div>
      </div>
      <div class="right-box">
        <div class="rowscontainer">
          <div class="row1">
            <input class="search" type="search" placeholder="Search" name="search">
            <button class="download">Download Library
              <img src="{% static '/imagesctn/library/download.png'%}" alt="downloadicon">
            </button>
          </div>
          <div class="row2">
            <img class="love" src="{% static '/imagesctn/library/loveicon.png'%}" alt="loveimage">
            <img id="ellipse" src="{% static '/imagesctn/library/Ellipse 3.png'%}" alt="circleimage">
            <img class="line" src="{% static '/imagesctn/library/lineicon.png'%}" alt="lineicon">
          </div>
          <div class="row4">
            <img class="copyicon" src="{% static '/imagesctn/library/copyicon.png'%}" alt="copyimage">
            <div class="view">
              <img src="{% static '/imagesctn/library/eye.png'%}" alt="eyeicon">
              <span class="togglecode">view code</span>
            </div>
            <img class="fileicon" src="{% static '/imagesctn/library/fileicon.png'%}" alt="fileicon">
          </div>
          <div class="row3">
            <pre>
                <code class="language-HTML">
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;link rel="stylesheet" 
              href="anibry.css"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;img id="demoImage" class="bounce" 
      src="images/ellipse.png" 
            alt="ellipseIcon"&gt;
    &lt;/div&gt;
  &lt;/body&gt;
  &lt;/html&gt;
                </code>
            </pre>
          </div>
 
<!--
    <div>
                
            <span class="material-symbols-outlined">
              visibility
              </span>
          <h3>View Code</h3>
          </div>
            -->
        </div> 
      </div>
    </main>
    <script src="{% static '/js/library.js'%}"></script>
  </body>
  {% endblock %}
</html>
