<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
        {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/community.css'%}">

    <title>Document</title>
</head>

<body>

    <div class="container portfolio">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1>Amazing Sites Using <br>
                    Our Library</h1>
                <p>We are happy a lot of company website uses our library and they find it very usable, interactive and
                    satisfying so say the least. We hope the website below inspires you to do more and to learn from how
                    they use our library.</p>
            </div>
            <div class="col-lg-2"></div>

        </div>

        <div class="row portfolio-list">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio2.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio2.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio3.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio3.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-list">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio2.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio2.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio3.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio3.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-list">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio2.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio2.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="effect">
                        <img src="images/open-link.svg" alt="">
                        <div class="overlay"></div>
                    </div>

                    <img src="images/portfolio3.png" class="card-img-top" alt="...">


                    <div class="card-body">
                        <div class="d-flex align-items-center creator">
                            <img src="images/portfolio3.png" width="70px" class="avatar" alt="James Bond Picture">

                            <div class="name">
                                <h6 class="display-name mb-0">Harriet Olanrewaju</h6>
                                <span class="time">Made with Anibry</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>