<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
    	<link rel="stylesheet" href="{% static '/css/profile.css.css'%}">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<img src="{% static '/imagesctn/profilepage/Rectangle 2.png'%}" alt="Rectangle">
		<div class="boxcontainer">
			<div class="leftbox">
				<section class="profile">
					<img src="{% static '/imagesctn/profilepage/profile-circle.png'%}" />
		
					<div class="profile2">
						<h2>Harriet Olanrewaju</h2>
						<div class="location">
							<img src="{% static '/imagesctn/profilepage/location.png'%}" />
							<div class="head">Lagos, Nigeria</div>
						</div>
						<div class="icons">
							<a href="#github"><img src="{% static '/imagesctn/profilepage/akar-icons_github-fill.png'%}" /></a>
							<a href="#behance"
								><img src="./ant-design_behance-circle-filled.png {% static '/imagesctn/profilepage/akar-icons_github-fill.png'%}"
							/></a>
							<a href="#linkedIn"
								><img src="./entypo-social_linkedin-with-circle.png {% static '/imagesctn/profilepage/akar-icons_github-fill.png'%}"
							/></a>
						</div>
						<button><a href="./editprofile.html"> Edit your Profile</a></button>
						<div class="texts">
							<h3>About</h3>
							<p
								>I am here to collaborate and get more inspiration for my web design
								and animations</p>
						</div>
					</div>
				</section>
			</div>
			<div class="rightbox">
				<section class="animations">
					<div class="anima-list">
						<a href="#">Public Animation</a> <span class="publicanimationcount">0</span>
						<a href="#">Private Animation</a> <span class="privateanmationcount">0</span>
						<a href="#">Downloads</a> <span class="downloadscount">0</span>
					</div>
				</section>
		
				<section class="anima-boxes">
					<div class="anima-1">
						<div class="info">
							<div class="infocard1">
								<img class="image1" src="{% static '/imagesctn/profilepage/profile-acircle.png'%}" />
								<p>Harriet Olanrewaju</p>
							</div>
							<div class="infocard2">
								<img class="image2" src="{% static '/imagesctn/profilepage/document-download.png'%}" />
								<span>23</span>
							</div>
						</div>
					</div>
					<div class="anima-2">
						<div class="info">
							<div class="infocard1">
								<img class="image1" src="{% static '/imagesctn/profilepage/profile-acircle.png'%}" />
								<p>Harriet Olanrewaju</p>
							</div>
							<div class="infocard2">
								<img class="image2" src="{% static '/imagesctn/profilepage/document-download.png'%}" />
								<span>23</span>
							</div>
						</div>
					</div>
					<div class="anima-3">
						<div class="info">
							<div class="infocard1">
								<img class="image1" src="{% static '/imagesctn/profilepage/profile-acircle.png'%}" />
								<p>Harriet Olanrewaju</p>
							</div>
							<div class="infocard2">
								<img class="image2" src="{% static '/imagesctn/profilepage/document-download.png'%}" />
								<span>23</span>
							</div>
						</div>
					</div>
					<div class="anima-4">
						<div class="info">
							<div class="infocard1">
								<img class="image1" src="{% static '/imagesctn/profilepage/profile-acircle.png'%}" />
								<p>Harriet Olanrewaju</p>
							</div>
							<div class="infocard2">
								<img class="image2" src="{% static '/imagesctn/profilepage/document-download.png'%}" />
								<span>23</span>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

	</body>
</html>
