{% extends  'accounts/authheaderandfooter.html' %}
<title>{% block title %} Community Page {% endblock %}</title>

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/team.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Anibry</h1>
    <p>Anibry is an online web based animation library that can used all kinds
      of web pages to make website Anibry is a library that allows beginner developers
      perform basic web animation using normal languages lively,engaging, and interactive.
      We started in 2022 as a team under Zuri project phase, and we thought we were headed
      to the promised land with that business model.
    </p>

    <h3>Meet the team</h3>

    <p>Our team comprises of creative minds of designers and developers from
      all over different states of Nigeria with a goal to make website
      interactive and attractive.
    </p>
</div>
    <div class="team-ctn container">
      <div class="team_picture">
        <img class="team-picture" src="{% static '/imagesctn/team/Rectangle.png'%}" alt="Anthony">
        <div>
          <h5>Anthony Ezighi</h5>
          <p class="team_job">Team Lead - Developer</p>
        </div>
      </div>
      
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle2.png'%}" alt="Hassan">
        <div>
          <h5>Hassan Olaolu</h5>
          <p class="team_job">Asst. Lead - Designer</p>
        </div>
      </div>
      
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle3.png'%}" alt="Chioma">
        <h5>Chioma Veronica</h5>
        <p class="team_job">Asst. Lead - Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle4.png'%}" alt="Henshaw">
        <h5>Henshaw Joseph</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle5.png'%}" alt="Olajide">
        <h5>Olajide Evelyn</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle6.png'%}" alt="D.n">
        <h5>Daniel Ndubuisi</h5>
        <p class="team_job">Designer</p>
      </div>
      
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle7.png'%}" alt="a.o">
        <h5>Abiola O.</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle8.png'%}" alt="b.a">
        <h5>Blessing Agbali</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle9.png'%}" alt="o.a">
        <h5>Omojola Adesina</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle10.png'%}" alt="a.e">
        <h5>Ayomanor Emma</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle11.png'%}" alt="t.o">
        <h5>Toheeb Olayemi</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle12.png'%}" alt="e">
        <h5>Eladies</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle13.png'%}" alt="r.O">
        <h5>Roland Ohama</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle14.png'%}" alt="o.d">
        <h5>Olayiwola Damilare</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle15.png'%}" alt="A.o">
        <h5>Adedamola O.</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle16.png'%}" alt="o.d">
        <h5>Olawoore Damilola</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle17.png'%}" alt="b.b">
        <h5>Babatunde B.</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle18.png'%}" alt="a.a">
        <h5>Adebiyi Afolake</h5>
        <p class="team_job">Developer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle19.png'%}" alt="o.j">
        <h5>Olatide Jegede</h5>
        <p class="team_job">Designer</p>
      </div>
  
      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle20.png'%}" alt="m.a">
        <h5>Matre Aiguokhian</h5>
        <p class="team_job">Developer</p>
      </div>

      <div class="team_picture">
        <img src="{% static '/imagesctn/team/Rectangle26.png'%}" alt="A.E">
        <h5>Ayanremi Emmanuel</h5>
        <p class="team_job">Developer</p>
      </div>
    </div>

    


    <div class="lower_picture">
      <img src="{% static '/imagesctn/team/Rectangle21.png'%}" alt="Rectangle21">
      <img src="{% static '/imagesctn/team/Rectangle22.png'%}" alt="r22">
      <img src="{% static '/imagesctn/team/Rectangle23.png'%}" alt="Rectangle23">
      <img src="{% static '/imagesctn/team/Rectangle24.png'%}" alt="r 24">
      <img src="{% static '/imagesctn/team/Rectangle25.png'%}" alt="r 25">
    </div>


    <div class="container">
      <h3>Our Story</h3>
    <p class="our-story">We're a group of randomly selected students that passed through the Zuri x 14G training
      session from July to August of 2022 and was given a task to make this as
      a passing out project task. With our able coodinators and mentor assigned
      to us during the training and project phrase, we are thankful and appreciative
      to the host, organizers and sponsors for this awesome privilege to be on
      this project.
    </p>

    </div>

  </div>
</body>
{% endblock %}
</html>